.front_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    min-height: 600px;
    background-color: rgb(64, 65, 64);
}

.front_page__post {
    display: flex;
    flex-direction: column;
    width: 600px;
    height:600px;
}

.front_page__meta {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    justify-content: space-around;
}